apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "passbolt.fullname" . }}-config
  labels:
    app: {{ template "name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- if not .Values.passbolt.config.salt }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-delete-policy": "before-hook-creation"
{{- end }}
data:
  passbolt.php: |
    <?php
    /**
    * Passbolt ~ Open source password manager for teams
    * Copyright (c) Passbolt SARL (https://www.passbolt.com)
    *
    * Licensed under GNU Affero General Public License version 3 of the or any later version.
    * For full copyright and license information, please see the LICENSE.txt
    * Redistributions of files must retain the above copyright notice.
    *
    * @copyright     Copyright (c) Passbolt SARL (https://www.passbolt.com)
    * @license       https://opensource.org/licenses/AGPL-3.0 AGPL License
    * @link          https://www.passbolt.com Passbolt(tm)
    * @since         2.0.0
    */
    /**
    * PASSBOLT CONFIGURATION FILE
    *
    * This is a generated configuration file, which was generated by the passbolt web installer.
    *
    * To see all available options, you can refer to the default.php file, or replace this file
    * by a copy of passbolt.default.php
    * Do not modify default.php or you may break your upgrade process.
    *
    * Read more about how to install passbolt: https://www.passbolt.com/help/tech/install
    * Any issue, check out our FAQ: https://www.passbolt.com/faq
    * An installation issue? Ask for help to the community: https://community.passbolt.com/
    */
    return [
        'App' => [
            // - fullBaseUrl - A base URL to use for absolute links.
            'fullBaseUrl' => 'https://{{ .Values.passbolt.config.serverName }}',
        ],

        'Security' => [
            // - salt - A random string used in security hashing methods.
            'salt' => env('SECURITY_SALT', '{{ .Values.passbolt.config.salt | default (randAlphaNum 64 | lower) }}'),
        ],

        // Database configuration.
        'Datasources' => [
            'default' => [
                'host' => '{{ .Values.passbolt.dbHost | default (include "database.fullname" .) }}',
                'port' => '{{ .Values.passbolt.dbPort | .Values.database.service.port | default ("3306") }}',
{{- if .Values.passbolt.dbUsername }}
                'username' => '{{ .Values.passbolt.dbUsername }}',
{{- end }}
{{- if and .Values.database.enabled .Values.database.user }}
                'username' => '{{ .Values.database.user }}',
{{- end }}
{{- if .Values.passbolt.dbPassword }}
                'password' => '{{ .Values.passbolt.dbPassword }}',
{{- end }}
{{- if and .Values.database.enabled .Values.database.password }}
                'password' => '{{ .Values.database.password }}',
{{- end }}
                'database' => '{{ .Values.passbolt.dbDatabase | default ("passbolt") }}',
            ],
        ],

{{- if .Values.passbolt.config.email.smtp.enabled }}
        // Email configuration.
        'EmailTransport' => [
            'default' => [
                'host' => '{{ .Values.passbolt.config.email.smtp.address }}',
                'port' => {{ .Values.passbolt.config.email.smtp.port }},
                'username' => '{{ .Values.passbolt.config.email.smtp.username }}',
                'password' => '{{ .Values.passbolt.config.email.smtp.password }}',
                // Is this a secure connection? true if yes, null if no.
                'tls' => {{ .Values.passbolt.config.email.smtp.tls }},
                //'timeout' => 30,
                //'client' => null,
                //'url' => null,
            ],
        ],
{{- end }}
        'Email' => [
            'default' => [
                // Defines the default name and email of the sender of the emails.
                'from' => ['{{ .Values.passbolt.config.email.from }}' => '{{ .Values.passbolt.config.email.name }}'],
                //'charset' => 'utf-8',
                //'headerCharset' => 'utf-8',
            ],
        ],
        'passbolt' => [
            // GPG Configuration.
            // The keyring must to be owned and accessible by the webserver user.
            // Example: www-data user on Debian
            'gpg' => [
                // Main server key.
                'serverKey' => [
                    // Server private key fingerprint.
                    'fingerprint' => '{{ .Values.passbolt.config.gpgFingerprint }}',
                    'public' => CONFIG . DS . 'gpg' . DS . 'serverkey.asc',
                    'private' => CONFIG . DS . 'gpg' . DS . 'serverkey_private.asc',
                ],
            ],
            'registration' => [
                'public' => false,
            ],
            'ssl' => [
                'force' => {{ .Values.passbolt.tls.enabled }},
            ]
        ],
    ];
